<div class="event">
  <h3><%= event.name %></h3>
  <h4>City: <%= event.city %></h4>
  <h4>Capacity: <%= event.capacity %></h4>
  <h4>Date: <%= event.date %></h4>
  <%= link_to 'Event Page', event_path(event) %>
</div>
